---
layout: default
---

<div class="home">
  <!-- <h1 class="page-heading">Projects</h1> -->
  {{ content }}
  <ul class="post-list">
    {%- assign projects = site.projects | sort: "end" | reverse -%} {% for
    project in projects %}
    <li>
      <a class="project-link" href="{{ project.url | relative_url }}">
        {% if project.image %}
        <img
          class="project-cover"
          src="{{ project.image | absolute_url }}"
          alt="{{ project.title | escape }}"
        />
        <p class="project-label">
          <strong>{{ project.title | escape }}</strong>
        </p>
        {% if project.end %}
        <p class="project-label" style="font-size: x-small;">
          {% if project.start %}{{ project.start | date: "%Y" }}–{{
            project.end | date: "%y"
          }}{% else %}{{ project.end | date: "%Y" }}{%- endif -%}
        </p>
        {% endif %} {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
